html {
  background-color: black;
}

.App {
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
  width: 500px;
  height: 500px;
  margin: auto;
}

.box {
  border: solid 2px white;
  width: 160px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.x {
  color: #e92efb;
  font-size: 6rem;
}

.o {
  color: #ff2079;
  font-size: 6rem;
}
